.card{
    width:80%;
    margin: 1rem auto;
    background-color:rgb(235, 235, 235);
    color: rgb(93, 93, 93);
}

img{
    height: 20rem;
}
.title{
    font-size:1.5rem;
}
.subtitle{
    color: rgb(130, 128, 128);
    font-size: 1.2rem;
}

.description{
    padding-top: 30px;
    text-align: center;
    font-size: 1.2rem;
}