.container{
    position:relative;
    height: 100%;
    background: linear-gradient(180deg, rgba(85,213,85,1) 0%, rgba(43,195,210,1) 25%, rgba(64,191,255,1) 50%, rgba(5,127,215,1) 75%, rgba(16,78,146,1) 100%);
    display: flex;
    align-items: center;
    justify-content: center;
}

.form{
    position: absolute;
    z-index: 2;
    width: 35rem;
    margin: auto;
    background-color: var(--contraste);
    padding: 4rem 1rem;
    border-radius: 1rem;
}

.hint{
    /* top: -4rem; */
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    position: absolute;
    z-index: 1;
    background-color: var(--primary);
    border-radius: 1rem;
    width: 30%;
    margin: 0 0 30rem 40rem;
    padding: 0.5rem;
    transform: translate(-30%,5%);
}
.hint-popup{
    transform: translate(30%,5%)
}
.hint-text{
    padding-left: 4rem;
}
.hint-title{
    padding-left: 4rem;
    font-weight: bold;
}

button mat-icon{
    opacity: 1;
}

h1{
    text-align: center;
    color: var(--title);
}
.full-width{
    width: 100%;
}

svg{
    height: 12rem;
    width: 100%;
    margin: .5rem auto .5rem auto;
    fill: var(--text-body);
}

.mat-stroked-button{
    background-color: var(--contraste);
}

input{
    color: var(--text-body);
}
input:-webkit-autofill,
input:-webkit-autofill:hover, 
input:-webkit-autofill:focus, 
input:-webkit-autofill:active{
    -webkit-box-shadow: 0 0 0 30px var(--contraste) inset !important;
    -webkit-text-fill-color: var(--text-body) !important;
}

mat-icon{
    opacity: 0.6;
    color: var(--text-body);
}

.noturno{
    text-align: center;
    padding-top: 2rem;
    color: var(--text-body);
}