.container{
    width: 45%;
    margin: auto auto 3rem auto;
    padding: 1rem;
    border-radius: 1rem;
    background-color: var(--contraste);
    color: var(--text-body);
}

.fullWidth{
    width: 100%;
}

h1, img {
    text-align: center;
}

svg {
    height: 11rem;
    width: 100%;
    fill: var(--text-body);
}

.status-prioridade{
    display: flex;
    justify-content: space-between;
}

.status-prioridade mat-form-field {
    width: 49%;
}

.observacoes{
    min-height: 6rem;
    max-height: 10rem;
}

button{
    margin-top:.5rem;
}